/* Organizers Section */

.travel-section {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 50px;
}

.travel-titles {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.travel-info-div {
  margin-bottom: 20px;
}

.travel-subtitles {
  margin-bottom: 10px;
}

.travel-desc {
  text-align:left;
  font-size: 16px;
  color: rgb(80, 80, 80);
  line-height: 1.5;
  margin-bottom: 10px;
}

.travel-link {
  color: rgb(14, 77, 143);
}

.transport-list {
  margin-left: 30px;
}

.transport-item {
  font-size: 16px;
  color: rgb(80, 80, 80);
  line-height: 1.5;
  margin-bottom: 2px;
}



/* Google Maps Info */

.maps-title {
  font-size: 30px;
}

.travel-maps-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.map-container {
  width: 60%;
  height: 500px;
}



/* Mobile compatibility */

@media screen and (max-width: 1024px) {

  .travel-section {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 60px;
  }
  
  .map-container {
    width: 100%;
    height: 500px;
  }
  

}