/* Speakers Section */

.speakers-section {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 0;
  background-color: rgb(14, 77, 143);
}

.speakers-title {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.speakers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
  margin-bottom: 35px;
}

.profile-container {
  text-align: center;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile-title {
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}

.description-button {
  background-color: white;
  padding: 6px 20px;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.description-button:hover {
  background-color: rgb(0,0,0);
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background-color: rgb(14, 77, 143);
  margin: 10% auto; /* 10% from the top and centered */
  border-radius: 20px;
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  text-align: center;
}

.modal-profile-picture {
  margin-bottom: 8px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.modal-profile-name {
  margin-bottom: 8px;
  color: white;
}

.modal-profile-title {
  margin-bottom: 8px;
  font-style: italic;
  color: white;
}

.modal-description {
  color: white;
  margin-bottom: 8px;
}

.close {
  color: white;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(0,0,0);
    text-decoration: none;
    cursor: pointer;
}






/* Mobile compatibility */

@media screen and (max-width: 2500px) {
  .speakers-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1900px) {
  .speakers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {

  .speakers-section {
    padding-left: 7%;
    padding-right: 7%;
  }

  .speakers-grid {
    grid-template-columns: 1fr;
  }

}