/* Image Slideshown and Registration Link */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Slideshow container */

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slideshow {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blue background color */
.prev:hover, .next:hover {
  background-color: rgb(14, 77, 143);
}

/* Scaling the slideshow images to take up full screen */
.slideshow-images {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
  opacity: 0.80;  /*opacity changes to background images*/
}

/* The dots/bullets/indicators */

.slideshow-dot-div {
  position: absolute;
  bottom: 0;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
}

.slideshow-dot {
  bottom: 8px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: rgb(195, 195, 195);
  border-radius: 50%;
  display: inline-block;
}

.slideshow-active, .slideshow-dot:hover {
  background-color: rgb(14, 77, 143);
  transition: background-color 0.3s ease;
}

/* Fading animation for slideshow images */

.slideshow-fade {
  animation-name: slideshow-fade;
  animation-duration: 2s;
}

@keyframes slideshow-fade {
  from {opacity: .8}
  to {opacity: 1}
}


/* Banner Information */

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  padding: 1% 3% 1% 3%;
  border-radius: 20px;
}

.APSA-logo {
  height: 130px;
  margin-bottom: 25px;
}

.banner-title {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 1px 7px black;
}

.banner-link {
  text-decoration: none;
  color: rgb(14, 77, 143);
}

.reg-div {
  display: flex;
  flex-direction: row;
}

.registration-button {
  background-color: rgb(14, 77, 143);
  border-radius: 7px;
  color: white;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  margin: 4px 10px 10px 10px;
}

.registration-button:hover {
  background-color: rgb(0,0,0);
  transition: background-color 0.3s ease-in-out;
}

.registration-dates {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}



/* Banner Mobile Compatibility */

@media screen and (max-width: 1920px) {
  .banner-title {
    font-size: 18px;
  }

  .registration-button {
    font-size: 18px;
    padding: 5px 20px;
    margin: 2px 10px 5px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .page-title {
    width: 80%;
  }

  .APSA-logo {
    height: 90px;
    margin-bottom: 10px;
  }

  .banner-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .reg-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registration-button {
    font-size: 16px;
    margin: 6px 0;
    text-align: center;
    padding: 5px 20px;
    margin: 2px 10px 5px 10px;
  }

  .registration-dates {
    font-size: 16px;
  }

  .registration-text {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
}

